<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>58</integer>
			<key>icon</key>
			<string>CydiaFormulaOneOne@3x.png</string>
			<key>label</key>
			<string>Formula One One</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hide the separator lines, keep normal, or use Alt Sep Style.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>separatorPrefs</string>
			<key>validTitles</key>
			<array>
				<string>No Separators</string>
				<string>Normal</string>
				<string>Alt Sep Style</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Colors most aspects of UI in Cydia. This button must be on for color selections to work.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>wantsTheme</string>
			<key>label</key>
			<string>Add colors to UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select status bar color.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>statusBarColor</string>
			<key>validTitles</key>
			<array>
				<string>Green</string>
				<string>Yellow</string>
				<string>Blue</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select upper navigation bar color.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>navBarColor</string>
			<key>validTitles</key>
			<array>
				<string>Blue</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select lower tab bar background color. </string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>tabBarColor</string>
			<key>validTitles</key>
			<array>
				<string>Orange</string>
				<string>Blue</string>
				<string>Red</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select lower tab bar unselected text color.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>tabBarTextColor</string>
			<key>validTitles</key>
			<array>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Blue</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select lower tab bar icon and selected text color.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>tabBarIconColor</string>
			<key>validTitles</key>
			<array>
				<string>Cyan</string>
				<string>Green</string>
				<string>Blue</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select color for table headers and footers.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>tableBarColor</string>
			<key>validTitles</key>
			<array>
				<string>Blue</string>
				<string>Magenta</string>
				<string>Green</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set the background color for the index bar, shows when large table's display lettered index on the side of screen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>indexBGColorSlot</string>
			<key>validTitles</key>
			<array>
				<string>Blue</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select color for the index letters, showing on sidebars of large lists and tables.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>indexColorSlot</string>
			<key>validTitles</key>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adds colored highlights when selecting cells, showing history of where you've navigated in current session.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>wantsHighlights</string>
			<key>label</key>
			<string>Highlighted cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select highlight color to show where you've navigated in current session.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>unselectedHighlight</string>
			<key>validTitles</key>
			<array>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select highlight color that shows when selecting a cell.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>selectedHighlight</string>
			<key>validTitles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Orange</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hides some of the loading error messages, making refreshing sources faster.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>key1</string>
			<key>label</key>
			<string>Hide source errors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes activity indicator  to different random colors for each instance.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>key3</string>
			<key>label</key>
			<string>Random indicator colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes text when installing or removing a package to a random quote or joke. Over 110 possibilities.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>Enabled4</string>
			<key>label</key>
			<string>Replace loading text.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use to take screenshots, prank friends to show you have a jailbreak on any iOS version desired.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Fake your firmware</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.cydiaformulaoneone~prefs</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>Fake firmware version:</string>
			<key>placeholder</key>
			<string>enter desired iOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Made by i0stweak3r</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Icon by Simply Designer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>Dedicated to the thorn.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Developer twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter2</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Simply Designer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like using this or any of my other tweaks, please consider a small donation. </string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Buy me a Red Bull.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Be first to find new and updated tweaks, and others only available through my private repo.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>betarepo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>yourepo.png</string>
			<key>label</key>
			<string>👉 Tap here to add my repo.</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
